.header__logo {
  margin: 0;
  background-image: url('../../../images/logo.svg');
  background-size: cover;
  position: relative;
  width: 142px;
  height: 33px;
}



@media all and (max-width: 930px) {
  .header__logo {
    margin-left: 27px;
    width: 103.74px;
    height: 24.4px;
  }
}