.cards__like{
  margin: 0;
  background-image: url('../../../images/like.svg');
  object-position: center;
  width: 22px;
  min-height: 19px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.cards__like:hover {
  opacity: 0.5;
}